.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-haight);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: var(--h2-font-size);
  font-weight: --font-semi-bold;
  color: var(--main-color);
}

.nav-close,
.nav-toggle {
  display: flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav-link {
  color: var(--text-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}
.nav-link:hover {
  color: var(--main-color);
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.nav-menu.open {
  top: 0;
}

/* Add blur header */
 .header.blur::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(23, 12%, 4%, .2);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px); /* for safari */
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link {
  color: var(--main-color);
}