.home-container {
  position: relative;
  padding-block: 7rem 1rem;
  row-gap: 2.5rem;
}

.home-content {
  position: relative;
  display: grid;
  justify-self: center;
}

.home-img {
  width: 220px;
}

.home-title {
  font-size: var(--biggest-font-size);
  display: flex;
  column-gap: .25rem;
  color: var(--main-color);
  position: absolute;
  top: -2rem;
  justify-self: center;
}
.home-title span:nth-child(2) {
  z-index: -1;
}

.home-tooltip {
  position: absolute;
  top: -.5rem;
  right: 1.5rem;
}

.home-tooltip-img {
  width: 60px;
}

.home-tooltip-text {
  background: var(--gradient-color);
  padding: .25rem .75rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  border-radius: 4rem;
  position: absolute;
  transform: translate(60px, -40px);
  /* top: -50%;
  right: -100%; */
  white-space: nowrap;
}

.home-social {
  display: grid;
  justify-items: center;
  row-gap: 6rem;
  position: absolute;
  top: 9rem;
  left: -1.5rem;
}

.home-social-text {
  position: relative;
  rotate: 90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
 .home-social-text::after {
  content: '';
  width: 48px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  right: -64px;
}

.home-social-links {
  display: grid;
  row-gap: .75rem;
}

.home-social-link {
  font-size: 1.25rem;
  color: var(--text-color);
  transition: color .4s;
}
.home-social-link:hover {
  color: var(--main-color);
}

.home-button {
  justify-self: center;
}